/*scherm indeling mobiel*/
* {
    margin: 0;
    padding: 0;
}
.grid-container {
    background-color: #3D3A4B;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    row-gap: 16px;

    grid-template-areas:
    "aside-a"
    "aside-b"
    "header"
    "main-d"
    "main-e"
    "."
    "footer";

}

/*schermvulling voor tablet, pc, tv*/
@media screen and (min-width: 1024px){
    .grid-container {
        background-color: #3D3A4B;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        row-gap: 16px;
        column-gap: 16px;


        grid-template-areas:
    "aside-a header header"
    "aside-b header header"
    "aside-b main-e main-d"
    "aside-b main-e ."
    "footer footer footer";

    }
}
.grid-item {
    margin: 5px;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3C0CD;
    border: solid 1px #B19994;
}

#grid-aside-a {
    grid-area: aside-a;
}

#grid-aside-b {
    grid-area: aside-b;
}

#grid-header {
    grid-area: header;
}

#grid-main-d {
    grid-area: main-d;
}

#grid-main-e {
    grid-area: main-e;
}

#grid-footer {
    grid-area: footer;
}

#blanco{
    grid-area: blanco ;
}